requests
langdetect
python-dotenv
llama-cpp-python
# Optional but recommended for full functionality
vtracer
duckduckgo-search
pypdf
librosa
matplotlib
faster-whisper
insanely-fast-whisper
Pillow
whisperx
whisper-ctranslate2
g2p_en
speechbrain
torchaudio
